
@font-face {
  font-family: 'AltivoBlack';
  src: url('../Fonts/Fontspring-DEMO-altivo-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AltivoBlackItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-blackitalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'AltivoBold';
  src: url('../Fonts/Fontspring-DEMO-altivo-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AltivoExtraLight';
  src: url('../Fonts/Fontspring-DEMO-altivo-extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AltivoExtraLightItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-extralightitalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'AltivoItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AltivoLight';
  src: url('../Fonts/Fontspring-DEMO-altivo-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AltivoLightItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AltivoMedium';
  src: url('../Fonts/Fontspring-DEMO-altivo-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AltivoMediumItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AltivoUltra';
  src: url('../Fonts/Fontspring-DEMO-altivo-ultra.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AltivoUltraItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-ultraitalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'AltivoThinItalic';
  src: url('../Fonts/Fontspring-DEMO-altivo-thinitalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
